<%- include('./startReqs.ejs', {page:"Game"}) %>

    <div class="uiParent">

        <h3 class="uiHeader">Tick: <strong id="tick">0</strong></h3>

        <h3 class="uiHeader">Generation: <strong id="generation">0</strong></h3>

        <h3 class="uiHeader">Path Length: <strong id="pathLength">0</strong></h3>

        <h3 class="uiHeader">Fastest Possible Path: <strong id="fastestPossiblePath">0</strong></h3>

    </div>

    <div class="mapContainer">
        <div class="map" id="map"></div>
    </div>

    <%- include('./endReqs.ejs'); %>